@model PortfolioProject.Models.TblCategories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>AddCategory Page</h3>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" name="CategoryName" class="form-control" />
    <button class="btn btn-outline-primary mt-2">Kaydet</button>
</form>