
@{
    ViewBag.Title = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="mt-3">Add Team</h3>

<form method="post">
    <label>ImageUrl</label>
    <input type="text" name="ImageUrl" class="form-control" />

    <label>NameSurname</label>
    <input type="text" name="NameSurname" class="form-control" />

    <label>Title</label>
    <input type="text" name="Title" class="form-control" />

    <label>Description</label>
    <input type="text" name="Description" class="form-control" />

    <label>TwitterUrl</label>
    <input type="text" name="TwitterUrl" class="form-control" />

    <label>FacebookUrl</label>
    <input type="text" name="FacebookUrl" class="form-control" />

    <label>LinkedInUrl</label>
    <input type="text" name="LinkedInUrl" class="form-control" />

    <label>InstagramUrl</label>
    <input type="text" name="InstagramUrl" class="form-control" />

    <button class="btn btn-outline-primary mt-2">Kaydet</button>
</form>